@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
  color: white;
  background-color: #2f2f2f;
}

.container {
  width: 100%;
  min-height: 100vh;
  background-color: #2f2f2f;
  display: flex;
  justify-content: center;
  
}

.sub-container {
  margin-top: 15%;
  height: fit-content;
}

.heading-primary {
  font-size: 4rem;
  text-align: center;
  margin-bottom: 1.3rem;
  font-weight: 500;
  text-transform: capitalize;
}

.navbar {
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  list-style: none;
  justify-content: center;
  font-size: 1.5rem;
  text-transform: capitalize;
}

.navbar li {
  border: #f97316 solid 2px;
  padding: 0.2rem 1rem;
  border-radius: 0.7rem;
  background-color: black;
  text-decoration: none;
}

.navbar a {
  text-decoration: none;
}

.navbar li:hover {
  color: black;
  border: solid 2px;
  background: white;
}

.content-box {
  width: 50%;
  margin: 0 auto;
}

.title {
  padding: 1rem;
}

/* maggi page */


.content-box li {
  line-height: 2rem;
}

/* sandwich */

.sand {
  background-color: rgb(33, 33, 33);
}

main {
  width: 50%;
  margin: 0 auto;
}

header {
  text-align: center;
  font-size: 1.5rem;
  padding: 2rem 0;
}

.ingr {
  margin: 2rem 0;
  font-size: 1.3rem;
  line-height: 3rem;
}

.opt-ingr {
  margin: 2rem 0;
  font-size: 1.3rem;
  line-height: 3rem;
}

.inst {
  margin: 2rem 0;
  font-size: 1.3rem;
  line-height: 3rem;
}

.per {
  font-size: 1.2rem;
  word-spacing: 0.3rem;
}

/* pasta */

.pas {
  background-color: rgb(33, 33, 33);
}

.box {
  width: 50%;
  margin: 0 auto;
}

.head {
  text-align: center;
  font-size: 1.5rem;
  padding: 2rem 0;
}

.ind {
  margin: 2rem 0;
  font-size: 1.3rem;
  line-height: 3rem;
}

.int {
  margin: 2rem 0;
  font-size: 1.3rem;
  line-height: 2rem;
}

.pg {
  font-size: 1.2rem;
  padding: 2rem 0;
}
